<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="categories">
          <button [class.selected]="selectedCategory === 'all'" (click)="selectCategory('all')">ALL</button>
          <button [class.selected]="selectedCategory === 'women'" (click)="selectCategory('women')">WOMEN</button>
          <button  [class.selected]="selectedCategory === 'men'" (click)="selectCategory('men')">MEN</button>
          <button [class.selected]="selectedCategory === 'kids'" (click)="selectCategory('kids')">KIDS</button>
        
        </div>
       <div style="text-align: center;margin-top: -70px;"> <span class="bi bi-bag-check-fill green-color"> </span>
       </div> 
        <div class="shopping">
          <div class="dropdown" >
            <select (change)="updateCurrency($event)" style="background-color: white;margin-top:10px;border: none; ">
              <option value="NGN">₦ NGN</option>
              <option value="USD">$ USD</option>
              <option value="EUR">€ EUR</option>
              <option value="JPY">¥ JPY</option>
            </select>
            
          </div>
          
          <button class="btn " type="button" id="cartButton" (click)="goToCart()" aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg> <span class="badge badge-light">{{ cart.length }}</span>
          </button>
        </div>
        
         
        <div class="cart-dropdown" *ngIf="showCartDropdown">
          <br>
          <b class="cart-title">My Bag, {{ cart.length }} Items</b>
          <br><br>
          <div class="cart-item" *ngFor="let item of cart">
            <img [src]="item.image" [alt]="item.name" style="height:150px;width:100px;float:right;margin-right: 15px;">
            <div class="quantity">
              <div style="margin-top: 0px; "><button (click)="decreaseQuantity(item)">-</button></div>
              <span style="float: right;padding-top: 40px;padding-left: 10px;">{{ item.quantity }}</span>
              <div  style="margin-top: 30px; "><button (click)="increaseQuantity(item)">+</button></div>
            </div>
            <div class="cart-item-details">
              <h2>{{ item.name }}</h2>
              <b><p class="price">{{ item.price | currency:'USD' }}</p></b>
              <label for="size">Size:</label>
              <div class="sizes ">
                <button *ngFor="let size of item.sizes" 
                        [class.selected]="selectedSize === size" 
                        (click)="selectedSize = size">{{ size }}</button>
              </div>
              <label for="color">Color:</label>
              <div class="color">
                <button *ngFor="let color of item.colors" 
                        [class.selected]="selectedColor === color" 
                        (click)="selectedColor = color" 
                        [style.backgroundColor]="color"></button>
              </div>
            </div>
          </div>
          <p class="cart-total">Total: <span class ="cur">{{ cartTotal | currency:'USD' }}</span></p> 
         
          <button (click)="viewCart()" class="checkout">VIEW BAG</button>

          <button class="checkout-button"
          angular4-paystack
          [key]="'pk_live_60db3af35e4c5a3b71212944c7dc81d61dcbb568'"
          [email]="'mailexample@mail.com'"
          [amount]="cartTotal * 100"
          [ref]="reference"
          [class]="'btn btn-primary'"
          (click)="checkout()"
          (paymentInit)="paymentInit()"
          (onClose)="paymentCancel()"
          (callback)="paymentDone($event)">
          CHECKOUT
        </button>
        </div>
        
        <h1 class="cat">{{ currentCategory | titlecase }}</h1><br><br>
        <div class="products">
           
          <div *ngFor="let product of currentProducts" (click)="selectProduct(product)">
            <img [src]="product.image" [alt]="product.name"><br><br>
            <h2>{{ product.name }}</h2>
            <b>{{ product.price | currency:currencySymbol }}</b>
            <span *ngIf="product.quantity === 0" class="badge badge-danger">Out of stock</span>
          </div>
          
        </div>
    
      </div>
    </div>
  </div>
  